.horizontal-section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh !important;
  // width: 100vw !important;
  flex-shrink: 0;
  overflow-y: hidden;
  background-color: var(--primary-color);
  color: var(--on-primary);
  user-select: none;

  &.sec1 {
    .content {
      padding-top: 80px;
      display: flex;
      align-items: center;

      .writer-img-outer {
        width: 50vw;
        height: calc(100vh - 80px);
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .writer-img {
        width: 95%;
        height: 92%;
        object-fit: cover;
        flex-shrink: 0;
        border-radius: 20px;
      }
      .right {
        flex-shrink: 0;
        flex-grow: 1;

        width: 50vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: red;
        font-size: 78px;
        text-align: center;
        font-weight: 900;
        letter-spacing: 2px;

        .title {
          max-width: 60%;
        }
      }
    }
  }
  &.sec2 {
    display: flex;
    .left,
    .right {
      width: 50vw;
      width: 50vw;
      flex-shrink: 0;
    }
    .left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 40px;
      .title {
        font-size: 36px;
      }
      img {
        width: 75%;
        border-radius: 16px;
      }
    }
    .right {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .feature {
        display: flex;
        align-items: center;
        gap: 30px;
        // background-color: red;
        margin-bottom: 7%;
        max-width: 460px;
        width: 80%;
        .num {
          font-size: 38px;
          font-weight: 900;
        }
        div {
          .title {
            font-size: 32px;
            font-weight: 800;
          }
          .des {
            font-size: 19px;
          }
        }
      }
    }
  }
  &.sec3 {
    display: flex;
    padding-top: 75px;
    .left,
    .right {
      height: calc(100vh - 75px);
      flex-shrink: 0;
    }
    .left {
      padding: 35px;
      width: 55vw;
      img,
      .img {
        object-fit: cover;
        width: 95%;
        height: 95%;
        border-radius: 20px;
      }
    }
    .right {
      width: 45vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 65px;
      align-items: start;
      gap: 50px;
      .title {
        font-size: 40px;
        text-align: center;
      }
      .desc {
        font-size: 19px;
      }
      button {
        background-color: var(--btn);
        color: var(--on-btn);
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .horizontal-section {
    overflow-y: hidden !important;
    height: 100vh;
    &.sec1 {
      .content {
        flex-direction: column;
        align-items: center;
        overflow-y: hidden !important;
        height: 100vh;
        padding-top: 75px;

        // background-color: green;
        .writer-img-outer {
          height: calc(55vh - 75px);
          width: 100vw;
          padding: 0px;
        }

        .writer-img {
          height: 95%;
          width: 90vw;
        }
        .right {
          height: 45vh;
          width: 100vw;
          word-spacing: 16px;
          font-size: 36px;
          padding-top: 55px;
          align-items: start;
          // background-color: red;
          .title {
            max-width: 75%;
          }
        }
      }
    }

    &.sec2 {
      flex-direction: column;
      overflow-y: hidden !important;
      height: 100vh;

      .left,
      .right {
        width: 100vw;
        object-fit: cover;
      }
      .left {
        padding-top: 55px;
        // background-color: red;
        height: 50vh;
        gap: 20px;
        .title {
          font-size: 24px;
          // margin-bottom: 0px;
        }
        img {
          width: 85vw;
          object-fit: cover;
        }
      }
      .right {
        // background-color: green;
        height: 50vh;
        justify-content: start;
        padding-top: 25px;

        .feature {
          margin-bottom: 25px;
          .num {
            font-size: 28px;
          }
          div {
            .title {
              font-size: 21px;
            }
          }
        }
      }
    }
    &.sec3 {
      flex-direction: column;
      padding-top: 60px;
      overflow-y: hidden !important;
      height: 100vh;

      .left {
        width: 100vw;
        height: 50vh;
        padding: 20px;
        // height: calc(45vh - 60px);
        img,
        .img {
          // width: 100vw;
          height: 100%;
        }
        // background-color: red;
      }
      .right {
        width: 100vw;
        height: 50vh;
        // height: calc(50vh - 60px);
        padding: 0px;
        padding-top: 0px;
        align-items: center;
        justify-content: start;
        margin-top: 15px;

        .title {
          font-size: 36px;
        }
        .desc {
          padding: 0 10px;
          text-align: center;
        }
      }
    }
  }
}
