:root {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
body {
  margin: 0;
  min-width: 320px;
  color: var(--text-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  background-color: white;
  color: black;
}

button,
.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 8px 1.2em !important;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--btn);
  color: var(--on-btn);
  cursor: pointer;
  transition: border-color 0.25s;
  &:hover {
    color: var(--on-btn);
    border-color: transparent;
    outline: transparent;
  }
  &:focus,
  &:focus-visible {
    outline: transparent;
  }
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: #2424247a;
}
.hidden {
  display: none;
}

.center-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (max-width: 650px) {
  .center-page {
    width: 100%;
  }
}
.split-page {
  .right {
    min-height: 100vh;
  }
}

.split-page,
.split-page-mb {
  min-height: 100vh;
  display: flex;
  overflow: auto;
  position: relative;
  background-color: var(--primary-color);

  .left {
    width: 55%;
    flex-shrink: 0;
    flex-grow: 1;
  }
  .right {
    padding-left: 80px;
    width: 45%;
    flex-shrink: 0;
    flex-grow: 1;
    background-color: var(--background-color);
  }

  .cross-bar {
    position: fixed;
    left: calc(55% - 80px);
    top: -20px;
    bottom: -45px;
    width: 170px;
    rotate: 0deg;
    z-index: 1;
    animation: cross-bar-rotate 5s infinite ease-in-out;
    background-color: var(--primary-color);
  }
}

.heading-with-arrow {
  margin-bottom: 24px;
  position: relative;
  align-self: stretch;
  h1 {
    text-align: center;
    font-size: 32px;
  }
  .icon {
    font-size: 24px;
    left: 0px;
    top: -2.5px;
    border-radius: 8px;
    padding: 4px 15px;
    position: absolute;
    z-index: 3;
  }
}

@keyframes cross-bar-rotate {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25%,
  75% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
}

:root {
  overflow-x: hidden;
}
body,
html {
  overflow-x: hidden;
  width: 100vw;
  // border: 1px solid white;
}

@media screen and (max-width: 1000px) {
  body {
    overflow-y: auto;
  }
  .split-page {
    width: 100%;
    overflow-y: initial;
    .cross-bar {
      display: none;
    }
    .right {
      display: none;
    }
    .left {
      width: 100%;
    }
  }
  .split-page-mb {
    flex-direction: column;
    .right {
      order: 0;
      width: 100% !important;
      height: 45% !important;
      padding: 0;
      img {
        width: 300px;
        z-index: 3;
      }
    }
    .left {
      order: 1;
      height: 55%;
      width: 100%;
    }
    .cross-bar {
      width: 120%;
      top: calc(45% - 40px);
      left: -30px;
      height: 80px;
      background-color: var(--background-color);
      animation: cross-bar-rotate-mb 5s infinite ease-in-out;
    }
  }
}

@keyframes cross-bar-rotate-mb {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25%,
  75% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
}

.new-split-page {
  background-color: red !important;
  // position: relative;
  display: flex;
  min-height: 100vh;
  height: fit-content;
  .new-left {
    background-color: green !important;
    width: 50vw;
  }
  .new-right {
    background-color: blue !important;
  }

  .new-cross-bar-container {
    position: absolute;
    position: fixed;
    left: calc(55% - 80px);
    top: -20px;
    bottom: -20px;
    width: 170px;
    z-index: 5;
    background-color: yellow;
    rotate: 0deg;
    animation: cross-bar-rotate 5s infinite ease-in-out;
  }
}

.popup-layout {
  background-color: var(--background-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
  width: calc(100% - 25px);
  border-radius: 12px;
  min-height: 240px;
}

.gift-popup {
  margin-top: 50px;
  padding: 14px 18px;
  padding-bottom: 0px;
  img {
    position: absolute;
    top: 0px;
    width: 100px;
    height: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  button {
    margin-top: 8px;
    background-color: #e4c281;
    border-radius: 20px;
    color: black;
    width: 70%;
  }
  .content {
    .item {
      background-color: var(--primary-color);
      padding: 6px 14px;
      margin-bottom: 12px;
      border-radius: 8px;
      .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .value {
          font-size: 24px;
          color: rgb(1, 213, 1);
          font-weight: 500;
        }
        .label {
          font-size: 22px;
        }
      }
      p {
        margin-top: 4px;
        font-size: 16px;

        .level {
          font-size: 19px;
          font-weight: 500;
          margin-left: 10px;
        }
      }
    }
  }
  .ribbon {
  }
}
