.profile-page {
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--text-color);

  .left {
    padding: 1px 25px;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  z-index: 2;

  .left-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 520px;
  }
  .cross-bar {
    background-color: var(--primary-color);
  }
  // bio
  .bio {
    margin-bottom: 28px;
    background-color: var(--background-color);
    border-radius: 8px;
    .field {
      display: flex;
      // margin-bottom: 4px;
      // background-color: var(--background-color);
      padding: 10px 20px;
      &:not(:last-child) {
        border-bottom: 2px solid rgba(180, 180, 180, 0.188);
      }
      .label {
        width: 70px;
        position: relative;
        border-right: 2px solid rgba(180, 180, 180, 0.188);
        // &::before {
        //   position: absolute;
        //   right: 15px;
        //   content: ":";
        //   top: 0;
        //   bottom: 0;
        // }
      }
      .value {
        margin-left: 25px;
        font-size: 18px;
      }
    }
  }
  .details {
    display: grid;
    background-color: var(--background-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    row-gap: 25px;
    .field {
      display: flex;
      flex-direction: column;
      align-items: center;
      .label {
        font-size: 11px;
      }
      .value {
        font-weight: 600;
      }
    }
  }
  .refer-code-box,
  .section,
  .details,
  .bio {
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
    z-index: 3;
  }

  .refer-code-box {
    padding: 8px 8px;
    margin: 8px 0px;
    border-radius: 8px;
    background-color: var(--background-color);

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 4px 10px;
      font-size: 18px;
      margin-bottom: 6px;
    }
    .icon {
      font-size: 21px;
      // background-color: var(--primary-color);
      border-radius: 4px;
      padding: 2px 12px;
      cursor: pointer;
    }
    .value {
      padding: 6px 10px;
      background-color: var(--primary-color);
      border-radius: 8px;
      padding-left: 15px;
      font-size: 19px;
      font-weight: 500;
    }
  }

  .section {
    margin: 20px 0px;
    padding: 20px 20px;
    border-radius: 8px;
    padding-bottom: 10px;
    user-select: none;

    background-color: var(--background-color);
    color: var(--text-color);

    .item {
      display: flex;
      margin-bottom: 4px;
      align-items: center;
      justify-content: space-between;
      font-size: 18px;
      padding: 5px 4px;
      transition: translate 0.25s ease;

      &:hover {
        translate: 15px 0;
      }
      &:active {
        translate: 30px 0;
      }

      &:nth-child(2) {
        // background-color: red;
      }
    }
  }
}

.transactions-page {
  .transactions {
    padding: 12px 16px;
  }
  .transaction {
    padding: 8px 14px;
    background-color: var(--background-color);
    margin-bottom: 8px;
    border-radius: 4px;

    .top,
    .bottom {
      display: flex;
      justify-content: space-between;
      padding-left: 10px;
    }

    .top {
      font-size: 20px;

      .amount {
        // background-color: red;
        &.added {
          color: green;
        }
        &.deducted {
          color: red;
        }
      }

      .Success {
        color: green;
      }
      .initiated {
        color: rgb(87, 87, 87);
      }
    }

    .bottom {
      font-size: 15px;

      .date {
        font-size: 14px;
      }

      .status {
        &.pending {
          color: #f0ad4e;
        }
        &.accepted {
          color: green;
        }
        &.rejected {
          color: red;
        }
      }
    }
  }
}

.referal-selector {
  display: flex;
  justify-content: space-between;
  margin: 18px 20px;
  padding: 10px;
  border-radius: 12px;
  gap: 5px;
  margin-top: 10px;
  background-color: var(--background-color);

  .referal-lvl {
    flex-grow: 1;
    cursor: pointer;
    // background-color: red;
    width: 30px;
    border-radius: 7px;
    padding-block: 8px;
    text-align: center;
  }
  .selected {
    background-color: var(--primary-color);
  }
}

.referals {
  padding: 10px 20px;

  .referal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    border-radius: 8px;
    background-color: var(--background-color);
    margin-bottom: 8px;

    .id {
      font-size: 13px;
      color: gray;
    }

    .status {
      &.valid {
        color: green;
      }
      &.invalid {
        color: rgb(255, 46, 46);
      }
    }

    .name {
      font-size: 18px;
    }
    .amount {
      font-size: 18px;
    }
  }
}
