.only-withdrawl-page {
  gap: 20px;
  // justify-content: center;
  justify-content: start;
  // background-color: yellow;
  min-height: 100vh;
  .heading-with-arrow {
    margin-top: 40px;
  }
  form {
    // background-color: red;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input {
    margin-top: 10px;
  }
  button {
    margin-top: 30px;
    width: 100%;
  }
  @media screen and (max-width: 650px) {
    padding: 20px;
  }
}

.withdrawl-popup {
  background-color: var(--background-color);
  z-index: 2;
  position: absolute;
  top: 20%;
  left: 50%;
  right: 0px;
  transform: translateX(-50%);
  padding: 25px 25px;
  padding-left: 16px;
  width: 95%;
  max-width: 650px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  h1.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 22px;
  }

  .btns {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    // background-color: red;
    .cancel-btn {
      background-color: var(--primary-color);
      color: var(--text-color);
    }
    button {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 40%;
      max-width: 500px;
    }
  }

  .row-field {
    display: flex;
    // background-color: blue;
    align-items: center;
    margin-bottom: 8px;
    gap: 12px;

    span.row {
      display: flex;
      span.title {
        width: 180px;
        position: relative;
        &::after {
          position: absolute;
          right: 20px;
          text-align: right;
          content: ":";
        }
      }
    }

    input {
      width: 30px;
      height: 30px;
      accent-color: var(--btn);
    }
    label {
      padding: 18px 20px;

      background-color: var(--primary-color);
      flex-grow: 1;
      font-size: 20px;
      border-radius: 8px;
    }
  }
}

@media screen and (max-width: 650px) {
  .withdrawl-popup {
    padding: 20px 14px;
    padding-right: 18px;
    width: 97%;

    width: 100%;
    top: 0;
    left: 0;
    right: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    transform: translateX(0);

    .btns {
      width: 100%;
      button {
        width: 46%;
      }
    }

    .row-field {
      gap: 14px;
      input {
        width: 20px;
        height: 20px;
      }
      label {
        font-size: 16px;
      }

      span.row {
        span.title {
          width: 100px;
          font-size: 16px;
        }
        span.details {
          font-size: 16px;
        }
      }
    }
  }
}
